.forecast {
  background: #f89007;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 50px;
  max-height: 500px;
  max-width: 700px;
  margin-top: 50px;
}
.search {
  background: #c7fcde;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 45px;
  height: 400px;
  max-width: 700px;
}
.elements {
  position: relative;
  line-height: 30px;
  left: 300px;
  bottom: 240px;
}
#temperature {
  position: relative;
  left: 100px;
  bottom: 90px;
}
#time {
  position: relative;
  bottom: 120px;
}
#icon {
  position: relative;
  left: 2px;
  bottom: 1px;
}

#date,
#wind,
#humidity,
#feel,
#city {
  color: #4f07f8;
}

.city,
.search-city {
  background: #fcffe7;
  line-height: 30px;
  text-align: center;
}
.feel {
  position: relative;
  left: 370px;
  bottom: 250px;
}
h1 {
  color: #fc9004e5;
  text-align: center;
  font-size: 60px;
}
.footer {
  text-shadow: #f89007;
}
.description {
  text-transform: capitalize;
}

.temperature {
  text-decoration: none;
  cursor: default;
}

.units {
  color: #fc9004e5;
  position: relative;
  bottom: 160px;
  left: 155px;
  font-size: 16px;
}

.active {
  color: black;
}
.active:hover {
  text-decoration: none;
  cursor: default;
}

.forecast-weather {
  margin-top: 20px;
  text-align: center;
  color: black;
  position: relative;
  bottom: 180px;
}

.forecast-date {
  font-size: 16px;
  color: #68706b;
}

.forecast-temperature {
  font-size: 13px;
}
.forecast-min {
  opacity: 0.5;
}
