:root {
  --bg-col-1: #f89007;
  --bg-col-2: #d9fae1;
  --bg-col-3: #fcffe7;
  --col-1: #110202;
  --col-2: #fc9004e5;
  --col-3: #4f07f8;
  --col-4: #720ef5;
  --headings-font: "Poppins", sans-serif;
  --main-font: "Rubik", sans-serif;
}

.forecast {
  background: var(--bg-col-1);
  font-family: var(--main-font);
  font-size: 18px;
}

.search {
  background: var(--bg-col-2);
  border-radius: 45px;
}

#temperature {
  color: var(--col-2);
  font-size: 60px;
  font-weight: 700;
}

#icon {
  position: relative;
  margin-top: -25px;
}

#date,
#wind,
#humidity,
#feel,
#city {
  color: var(--col-3);
}

.city {
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 4px;
}
.search-city {
  background: var(--bg-col-3);
  line-height: 30px;
  text-align: center;
}

.footer {
  text-decoration: none;
  text-align: center;
}
#footer {
  color: var(--col-4);
  font-size: 12px;
}
.description {
  text-transform: capitalize;
  font-size: 26px;
}
.update {
  margin-left: 20px;
  font-size: 12px;
}
ul {
  list-style: none;
  padding: 0;
}

.units {
  color: #110202;
  position: relative;
  bottom: 29px;
}

.forecast-weather {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--col-1);
}

.forecast-date {
  color: var(--col-1);
}

.forecast-max,
.forecast-min {
  color: #fc9004e5;
}
.forecast-min {
  opacity: 0.9;
}
.weather-condition {
  padding-top: 3px;
  padding-bottom: 3px;
}
@media (max-width: 300) {
  .search {
    text-align: center;
  }
  .weather-condition {
    padding: 0;
  }
  .weather-condition img {
    padding: 4px;
    text-align: center;
  }
  .city {
    margin: 0;
    padding: 4px;
  }
}
